body{
    margin:0px;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}


.SideToolBar{
    height: 100%;
    position: absolute;
    /* background-color: rgb(100, 93, 93) ; */
    background-color: "white";
    width:7%;
    padding: 10px;
    top: 0px;
    overflow:auto;
    scrollbar-width: thin;
    
    border: 1px solid rgb(19, 82, 177);
}

.tool {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgb(19, 82, 177);
}
.img {
    max-width:100%;
    max-height:100%;
}

.footer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 1px;
    left: 7%;
}

.slider {
    -webkit-appearance: none;
    width: 45%;
    height: 35px;
    background:  rgb(151, 145, 145);
    outline: none;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}


.slider::-moz-range-thumb {
    width: 30px; 
    height: 40px; 
    opacity: 1.2;
    background: #0af011; 
    cursor: pointer; 
    border-radius: 50%;
}

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px; 
    height: 40px; 
    background: #0af011; 
    cursor: pointer; 
    border-radius: 50%;
}
  

/* input[type = "submit"] {
    background:url(/images/width.png) no-repeat;
    background-size: 50px 50px;
    background-position: center;
} */


.slider-show {
    background-color: red;
    width: 100px;
    height: 50px;
    margin: auto;
    position: absolute;
    border-radius: 100px/50px;
    visibility: hidden;
    margin-left: 40%;
    bottom: 250px;
}

.x-btn {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    display: none;
    position: absolute;

    background-image:url("images/close.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .9);
}

.rotate-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    display: none;
    position: absolute;


    background-image:url("images/rotate.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .9);   
}

.text-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    display: none;
    position: absolute;

    background-image:url("images/font.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .9);   
}

.resize-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    display: none;
    position: absolute;

    background-image:url("images/resize.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .9);   
    
}

.drag-btn {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    display: none;
    position: absolute;

    background-image:url("images/drag.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .9);   

}
.box {
    margin: 30px;
    height: 70px;
    width: 80px;
    bottom: 0px;
}

.RGB-box {
    margin: 30px;
    height: 100px;
    width: 120px;
    font-size:large;
    font-weight: bolder;
    border-radius: 50%;
    background:url(/images/pallet.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.thickness {
    background:url(/images/width.png) no-repeat;
    background-size: 50px 50px;
    background-position: center;
    margin: 30px;
    height: 70px;
    width: 100px;
}

.active, .tool:hover {
    background-color: #666;
    color: white;
}

.slider2 {
    -webkit-appearance: none;
    width: 45%;
    height: 35px;
    background:  rgb(151, 145, 145);
    outline: none;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}


.slider2::-moz-range-thumb {
    width: 30px; 
    height: 40px; 
    opacity: 1.2;
    background: #060706; 
    cursor: pointer; 
    border-radius: 50%;
}

  .slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px; 
    height: 40px; 
    background: #060706; 
    cursor: pointer; 
    border-radius: 50%;
}